div
	.row
		form.sample-form#post-form(ng-submit="postScholarship()")
			textarea.message(ng-model='data.title', placeholder='Title', name='title')
			textarea.message(ng-model='data.description', placeholder='Description', name='description')
			div
				button.btn#post-button Create Scholarshipz
