.container(style="width:80%;height:500px;border:2px solid;padding:20px")
 h3 Temporary Home Page for Sponsors
 a.btn(href="#/post-scholarship") Post Scholarship
br
br
footer.modal-footer(style="text-align:center")
 br
 p College of Engineering
 p University of the Philippines - Diliman
 p Copyright 2013
 br
