.container(style="width:80%;height:500px;border:2px solid;padding:20px")
 h3 Temporary Home Page for Students
 br
 h3 List of Scholarhips
 a.btn(href="#/view-scholarships") View Scholarship
 br
 h3 Student Details
 a.btn(href="#/post-studentdetails") Edit Student Details
br
br
footer.modal-footer(style="text-align:center")
 br
 p College of Engineering
 p University of the Philippines - Diliman
 p Copyright 2013
 br
