a(href="#/") << Back 
h3 ## Chan code goes here
div.maindiv
	div.row
		h3 {{title}}
		hr
		div.well
			table
				tr
					td.span2
						b Sponsor:
					td.span6 {{sponsor}}
				tr
					td.span2
						b Description:
					td.span6 {{description}}
				tr
					td.span2
						b Slots:
					td.span6 {{slots}}
				tr
					td.span2
						b Active:
					td.span6 {{isactive}}